# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# R
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
*_cache/
*.Rcheck/

# LaTeX / knitr build artifacts
*.aux
*.log
*.nav
*.snm
*.out
*.toc
*.synctex.gz
